body {
  background-color: lightskyblue;
  font-family: helvetica;
}

.hidden {
  display: none;
}

.install {
  border: solid 1px #181818;
  border-radius: 5px;
  padding: .5rem;
  background-color: lightpink;
}